.lang_container {
  width: 18%;
  text-align: center;
  margin: 2%;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.unordered_list li {
  font-size: 14px;
  line-height: 1.5rem;
}
